* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    background-color: hsl(0, 0%, 98%);
}

h1 {
    font-weight: 300;
    text-align: center;
    font-size: 2rem;
    color: hsl(229, 6%, 66%);
    /* margin: 3rem 0 0 0; */
}

h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
    color: hsl(234, 12%, 34%);
}

h3 {
    font-size: 1rem;
    color: hsl(234, 12%, 34%);
}

h4 {
    font-size: 1rem;
    font-weight: 300;
    color: hsl(229, 6%, 66%);
    text-align: center;
}

p {
    font-size: .75rem;
    color: hsl(229, 6%, 66%);
}

header {
    width: 50%;
    margin: 3em auto;
}

footer {
    margin-top: 5em;
}

.container {
    display: flex;
    /* max-width: 960px; */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    min-width: 460px;
    min-height: 200px;
    margin: 1em;
    padding: 1.5em 1.5em;
    border-radius: 5px;
    box-shadow: 3px 4px 10px rgba(0, 0, 0, .2);

}

.card-1 {
    border-top: hsl(0, 78%, 62%) solid 6px;
}

.card-2 {
    border-top: hsl(180, 62%, 55%) solid 6px;
}

.card-3 {
    border-top: hsl(34, 97%, 64%) solid 6px;
}

.card-4 {
    border-top: hsl(212, 86%, 64%) solid 6px;
}



/* ### Primary

- Red: hsl(0, 78%, 62%)
- Cyan: hsl(180, 62%, 55%)
- Orange: hsl(34, 97%, 64%)
- Blue: hsl(212, 86%, 64%)

### Neutral

- Very Dark Blue: hsl(234, 12%, 34%)
- Grayish Blue: hsl(229, 6%, 66%)
- Very Light Gray: hsl(0, 0%, 98%) */